.report {
  position: absolute;
  bottom: -50vh;
  width: 100%;
  background-color: #eee;
  padding: 40px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in 300ms;
}

.report.active {
  bottom: 0;
}

.button {
  background-color: orange;
  color: #fff;
  border-radius: 15px;
  border: none;
  padding: 5px 15px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.button:focused {
  outline: none;
}

.close-button {
  position: absolute;
  align-self: flex-end;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background-color: orange;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;

  border-radius: 50%;
  cursor: pointer;
}
